ul.number-list
    -for(let i = 0; i <= 15; i++)
        case i
            when 2
                li.number-list-element.mod-red #{i}
            when 4
                li.number-list-element.mod-green #{i}
            when 5
                li.number-list-element.mod-blue #{i}
            when 8
                li.number-list-element.mod-red #{i}
            when 10
                li.number-list-element.mod-green #{i}
            when 15
                li.number-list-element.mod-blue #{i}
            default
                li.number-list-element #{i}
