doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, maiores.
        ul
            -let url = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Mops_oct09_cropped2.jpg/220px-Mops_oct09_cropped2.jpg";
            -let style = "width: 250px";
            -let text = "lorem";
            li
                p #{text}, ipsum. #{text} 123 #{text} 123
                img(src=url, style=style, alt="")
            li
                p #{text}, ipsum.
                img(src=url, style=style, alt="")
            li
                p #{text}, ipsum.
                img(src=url, style=style, alt="")